<div id="customer_container">
    <div id="customer_title">Fichier Client</div>

    <div id="customer_header">Clients</div>

    {{!-- <div class="client_sum" onclick="client_toggle()">
        <div class="client_toggle">˅</div>
        <div class="client_infos"></div>
    </div> --}}

    <script src="clients.js"></script>