<div id="devis_container">

<svg id="svg" viewBox="0 0 1440 600" xmlns="http://www.w3.org/2000/svg"
        class="transition duration-300 ease-in-out delay-150">
        <defs>
            <linearGradient id="gradient" x1="0%" y1="48%" x2="100%" y2="52%">
                <stop offset="5%" stop-color="#002bdc44"></stop>
                <stop offset="95%" stop-color="#32ded444"></stop>
            </linearGradient>
        </defs>
        <path
            d="M 0,600 C 0,600 0,120 0,120 C 78.04784688995213,119.77033492822966 156.09569377990425,119.54066985645933 254,122 C 351.90430622009575,124.45933014354067 469.665071770335,129.60765550239233 578,130 C 686.334928229665,130.39234449760767 785.2440191387559,126.02870813397129 873,130 C 960.7559808612441,133.9712918660287 1037.358851674641,146.2775119617225 1130,146 C 1222.641148325359,145.7224880382775 1331.3205741626793,132.86124401913875 1440,120 C 1440,120 1440,600 1440,600 Z"
            stroke="none" stroke-width="0" fill="url(#gradient)"
            class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
        <defs>
            <linearGradient id="gradient" x1="0%" y1="48%" x2="100%" y2="52%">
                <stop offset="5%" stop-color="#002bdc66"></stop>
                <stop offset="95%" stop-color="#32ded466"></stop>
            </linearGradient>
        </defs>
        <path
            d="M 0,600 C 0,600 0,240 0,240 C 122.19138755980862,263.52153110047846 244.38277511961724,287.04306220095697 324,279 C 403.61722488038276,270.95693779904303 440.6602870813397,231.3492822966507 530,218 C 619.3397129186603,204.6507177033493 760.976076555024,217.55980861244018 877,230 C 993.023923444976,242.44019138755982 1083.4354066985645,254.41148325358853 1173,256 C 1262.5645933014355,257.58851674641147 1351.2822966507179,248.79425837320574 1440,240 C 1440,240 1440,600 1440,600 Z"
            stroke="none" stroke-width="0" fill="url(#gradient)"
            class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
        <defs>
            <linearGradient id="gradient" x1="0%" y1="48%" x2="100%" y2="52%">
                <stop offset="5%" stop-color="#002bdc88"></stop>
                <stop offset="95%" stop-color="#32ded488"></stop>
            </linearGradient>
        </defs>
        <path
            d="M 0,600 C 0,600 0,360 0,360 C 70.92822966507177,361.7224880382775 141.85645933014354,363.444976076555 244,355 C 346.14354066985646,346.555023923445 479.5023923444976,327.94258373205747 594,320 C 708.4976076555024,312.05741626794253 804.133971291866,314.78468899521533 897,319 C 989.866028708134,323.21531100478467 1079.9617224880383,328.9186602870813 1170,336 C 1260.0382775119617,343.0813397129187 1350.0191387559807,351.5406698564593 1440,360 C 1440,360 1440,600 1440,600 Z"
            stroke="none" stroke-width="0" fill="url(#gradient)"
            class="transition-all duration-300 ease-in-out delay-150 path-2"></path>
        <defs>
            <linearGradient id="gradient" x1="0%" y1="48%" x2="100%" y2="52%">
                <stop offset="5%" stop-color="#002bdcff"></stop>
                <stop offset="95%" stop-color="#32ded4ff"></stop>
            </linearGradient>
        </defs>
        <path
            d="M 0,600 C 0,600 0,480 0,480 C 89.94258373205739,501.0047846889952 179.88516746411477,522.0095693779904 275,515 C 370.1148325358852,507.99043062200957 470.4019138755982,472.96650717703346 571,464 C 671.5980861244018,455.03349282296654 772.5071770334928,472.12440191387566 867,481 C 961.4928229665072,489.87559808612434 1049.5693779904307,490.53588516746413 1144,489 C 1238.4306220095693,487.46411483253587 1339.2153110047848,483.73205741626793 1440,480 C 1440,480 1440,600 1440,600 Z"
            stroke="none" stroke-width="0" fill="url(#gradient)"
            class="transition-all duration-300 ease-in-out delay-150 path-3"></path>
    </svg>
    
    <div id="devis_title">Devis N°: FD1-0001</div>
    {{!-- <button id="company_logo"></button> --}}
    <hr class="devis_hr">

    <div id="company_infos">
        <input type="text" class="devis_content" placeholder="Société: " id="company_name" /></br>
        <input type="text" class="devis_content" placeholder="Adresse: " /></br>
        <input type="text" class="devis_content" placeholder="Ville: " /></br>
        <input type="text" class="devis_content" placeholder="Tel: " />
    </div>

    <div id="devis_infos">
        <input type="text" class="devis_content" id="devis_date" /></br>
        <span class="devis_content" id="devis_ref">Référence du devis:</span></br>
        <input type="text" class="devis_content" id="devis_valid" /></br>
        <input type="text" class="devis_content" placeholder="Référence client:" />
    </div>

    <div id="client_infos">
        <input type="text" class="devis_content" placeholder="Nom du client:" /></br>
        <input type="text" class="devis_content" placeholder="Adresse:" /></br>
        <input type="text" class="devis_content" placeholder="Ville:" /></br>
        <input type="text" class="devis_content" placeholder="Téléphone:" />
    </div>
    <hr class="devis_hr" id="dhr2">

    <table class="items" id="head">
        <tbody>
            <tr>
                <td>Description</td>
                <td>Quantité</td>
                <td>Unité</td>
                <td>Prix unitaire HT</td>
                <td>%TVA</td>
                <td>Total TVA</td>
                <td>Total TTC</td>
            </tr>

        </tbody>
    </table>

    <table class="items_list" onchange="calc()">
        <tbody>
            <tr>
                <td><input type="text" class="items_content" id="product" placeholder="Produit:" /></td>
                <td><input type="text" class="items_content" id="quant" placeholder="Quantité:" /></td>
                <td><input type="text" class="items_content" id="unit" placeholder="Unité:" /></td>
                <td><input type="text" class="items_content" id="unit_price" placeholder="Prix unitaire HT:" /></td>
                <td><input type="text" class="items_content" id="tva_margin" placeholder="%TVA:" /></td>
                <td><input type="text" class="items_content" id="tva_total" placeholder="Total TVA:" /></td>
                <td><input type="text" class="items_content" id="total_price" placeholder="Total TTC:" /></td>
            </tr>
        </tbody>
    </table>

    <button id="add_line" onclick="add_row()">+</button>
    <button id="remove_line" onclick="remove_row()">-</button>

    <div id="prices_title">
        <span class="price">Total HT</span></br>
        <span class="price">Total TVA</span></br>
        <span class="price" id="total">Total TTC</span>
    </div>

    <div id="prices_value">
        <span class="price" id="total_ht"></span></br>
        <span class="price" id="total_tva"></span></br>
        <span class="price" id="total_ttc"></span>
    </div>

    <div id="signa">Signature du client:</div>
    <hr class="devis_hr" id="dhr3">
    
</div>

<div id="btns_container">
    <button class="devis_btn" id="save">Télécharger</button>
    <button class="devis_btn" id="store">Enregistrer</button>
    <button class="devis_btn" id="send">Envoyer</button>
    <button class="devis_btn" id="erase" onclick="erase()">Effacer</button>
</div>

<script src="devis.js"></script>