<div class="home">
    <div id="searchbar">
        <input type="text" name="search" id="search" placeholder="Search :" />
        <button id="search_btn"><i class="fa fa-search"></i></button>
    </div>
</div>




<div id="contact_form">
    <div id="f_texture"></div>
    <button id="clear_3">X</button>
    <h2>Contact</h2>
    <hr class="hr2">
    <span class="infos">Yoann Janssens</span></br>
    <span class="infos"><a href="tel:0621414125">06.21.41.41.25</a></span></br>
    <span class="infos"><a href="mailto: y.janssens@protonmail.com">y.janssens@protonmail.com</a></span></br>
    <div id="form">
        <input type="text" id="c_name" placeholder="Nom">
        <input type="text" id="c_mail" placeholder="E-mail">
        <textarea id="c_msg" placeholder="Message"></textarea>
        <input type="submit" id="submit" value="envoyer" onclick="submit()">
    </div>
</div>

<script src="contact.js"></script>
<script src="index.js"></script>