<div id="customer_container">
    <div id="customer_title">New customer
    </div>

    <form action="/add_customer" method="post" id="customer">
        <div class="form-group">
            <label>First name:</label>
            <input type="text" name="customer_first_name" id="customer_first_name" required />
            <label>Last name:</label>
            <input type="text" name="customer_last_name" id="customer_last_name" required />
            <label>E-mail:</label>
            <input type="text" name="customer_email" id="customer_email" required />
            <label>Phone number:</label>
            <input type="text" name="customer_number" id="customer_number" required />
            <label>Adress:</label>
            <input type="text" name="customer_adress" id="customer_adress" required />
            <label>Zip code:</label>
            <input type="text" name="customer_zip" id="customer_zip" required />
            <label>City:</label>
            <input type="text" name="customer_city" id="customer_city" required />
        </div>
        <input type="submit" id="add_customer" value="Valid" />
    </form>
</div>

<script src="clients.js"></script>